@font-face {
  font-family: "RobotoSlab-ExtraBold";
  src: url(../fonts/RobotoSlab-ExtraBold.ttf);
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}

:root {
  --nav-color: #940e3f;
  --nav-color-light: #e0437c;
  --figure-color: #43e04f;
  --main-color: #343a40;
  --main-secondary-color: #9badbf;
  --main-color-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
  font-family: Lato-Regular;
}

.container {
  width: 100%;
}

.mask {
  height: 100%;
  background-color: white;
}

#navDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem 1rem;
  background-color: white;
}

#navDiv > ul {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.link {
  display: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.link a {
  font-family: Lato-Bold;
  font-size: 1.5rem;
  color: var(--nav-color);
}

.link:hover {
  background-color: var(--nav-color-light);
}

.link:hover a {
  color: white;
}

#menuButton {
  border: none;
  background-color: white;
}

#menuButton:hover {
  cursor: pointer;
}

#menuButton > img {
  height: 3rem;
}

#searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  border: 2px solid var(--nav-color);
  border-radius: 0.5em;
  padding: 0 0.5em;
}

#searchBar img {
  height: 2.5em;
}

.icon {
  padding-top: 0.5em;
}

#searchInput {
  border: none;
  margin: 0.5em;
  height: 2em;
  width: 80%;
  font-size: 1em;
}
#searchInput:focus {
  outline: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  width: 100%;
  height: 15rem;
  position: relative;
}

#figureBackground {
  width: 60%;
  height: 100%;
  background-color: var(--figure-color);
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 82% 0%, 88% 100%, 0% 100%);
}

#figureText {
  margin-left: 5%;
  width: 45%;
}

#figureBackground h1 {
  display: flex;
  gap: 0.3rem;
}

#figureBackground span {
  color: white;
  font-family: RobotoSlab-ExtraBold;
  font-size: 3.75rem;
}

#figureBackground p {
  font-size: 1.438rem;
  font-family: RobotoSlab-Regular;
  color: white;
}

#image {
  position: fixed;
  width: 51%;
  height: 22rem;
  background-image: url(../images/food.webp);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  z-index: -1;
  top: 0rem;
  right: 0;
  transform: scaleX(-1);
}

#mainText {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: white;
}

#mainText > p {
  width: 90%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--main-color);
  text-align: justify;
}

button {
  border: 2px solid var(--nav-color);
  background-color: white;
  border-radius: 0.5em;
  height: 2.5em;
  padding: 0 0.5em;
  font-family: Lato-Regular;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropbtn {
  width: 5em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 1em;
  width: 10em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownContent button {
  width: 100%;
  border: none;
}

.dropdownContent button:hover {
  background-color: #f3f3f3;
}

#mainCards {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.card {
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardImage {
  display: none;
  width: 35%;
  height: 100%;
  padding: 2rem 0;
  border-radius: 0.5rem;
  border: 2px solid var(--main-color);
  justify-content: center;
  align-items: center;
}
.cardImage {
  cursor: pointer;
}

.cardImage img {
  width: 100%;
}

.cardText {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardHeader {
  font-family: Lato-Black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader div {
  display: flex;
  align-items: center;
}

.locationImage {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/location.svg);
  background-size: cover;
}

.cardLocation:hover {
  cursor: pointer;
}

.cardLocation:hover .locationImage {
  background-image: url(../images/location-green.svg);
}

.cardHeader > div > p {
  font-size: 0.88rem;
}

.cardText h2 {
  font-size: 1.3rem;
}

.cardText h3 {
  font-size: 0.65rem;
}

.cardText p {
  font-size: 0.65rem;
}

.plusCard {
  border: 2px dashed var(--main-secondary-color);
  display: flex;
  justify-content: flex-start;
}

.plusCard > div {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plusCard h3 {
  color: var(--main-secondary-color);
  font-size: 0.88rem;
}

.plusImage {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/plus.svg);
  background-size: cover;
}

.plusCard:hover {
  cursor: pointer;
  border-color: var(--main-color-dark);
}

.plusCard:hover h3 {
  color: var(--main-color-dark);
}

.plusCard:hover .plusImage {
  background-image: url(../images/plus-dark.svg);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalBox {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-radius: 0.5rem;
  padding: 1em;
  width: 35rem;
  background-color: white;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#closeButton {
  border: none;
  width: 1em;
  height: 1em;
  color: #aaaaaa;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
  background-color: white;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  #searchBar {
    width: 360px;
  }
  #searchInput {
    width: 95%;
  }
  #mainCards {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}

@media (max-width: 650px) {
  #figureBackground {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  #figureText {
    width: 100%;
  }
  #image {
    display: none;
  }
}

@media (min-width: 650px) {
  #mainText {
    display: flex;
  }
  .cardImage {
    display: flex;
  }
  .cardText {
    width: 65%;
  }
}

@media (min-width: 820px) {
  #mainText > p {
    width: 737px;
  }
  #mainCards {
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
  }
}

@media (min-width: 1050px) {
  #menuButton {
    display: none;
  }
  .link {
    display: block;
  }
  .link > a {
    text-decoration: none;
  }
}

@media (min-width: 1600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1600px 1fr;
  }
  #navDiv {
    padding: 1rem 0;
  }
  #mainCards {
    padding: 0;
  }
}
