@font-face {
  font-family: "RobotoSlab";
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

.light {
  --nav-color: #950b40;
  --nav-color-dark: #4b0620;
  --figure-color: #43e04f;
  --main-color: #343a40;
  --background-color: white;
  --text-color: black;
  --hover-color: rgb(235, 235, 235);
}

.dark {
  --nav-color: #c5175a;
  --nav-color-dark: #e16b98;
  --figure-color: #246329;
  --main-color: #d2d2d2;
  --background-color: rgb(15, 15, 15);
  --text-color: white;
  --hover-color: rgb(50, 50, 50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  width: 100vw;
  font-family: "Roboto-regular";
  overflow-x: hidden;
  background-color: var(--background-color);
}

#navDiv {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 5%;
}

#navDiv > ul {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.link {
  display: none;
  font-size: 1.5rem;
}

.link a {
  color: var(--nav-color);
}

.link a:hover {
  color: var(--nav-color-dark);
}

#menuButton {
  border: none;
  background-color: var(--background-color);
}

#menuButton:hover {
  cursor: pointer;
}

#menuButton > i {
  font-size: 2.5em;
  color: var(--nav-color);
}

#searchAndLang {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}

#searchAndLang i {
  font-size: 1.5rem;
  color: var(--nav-color);
}

#searchInput {
  border: 2px solid var(--nav-color);
  border-radius: 0.5em;
  height: 2.5em;
  width: 80%;
  font-family: "Roboto-regular";
  font-size: 1em;
  padding: 0 0.5em;
  background-color: var(--background-color);
  color: var(--text-color);
}

#suggestions {
  position: absolute;
  overflow: hidden;
  width: 75%;
  z-index: 3;
  left: 2em;
  top: 3em;
  background-color: var(--background-color);
  border-radius: 0.5em;
  box-shadow: 10px 9px 34px -1px rgba(0, 0, 0, 0.19);
}

#suggestions li {
  list-style: none;
  padding: 0.5em;
  border-bottom: 1px solid #e3e3e3;
}
#suggestions li:last-child {
  border-bottom: none;
}

#suggestions li:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

button {
  border: 2px solid var(--nav-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 0.5em;
  height: 2.5em;
  padding: 0 0.5em;
  font-family: "Roboto-regular";
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

#themeButton i {
  color: var(--text-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

figure {
  width: 100%;
  height: 15rem;
  position: relative;
}

#figureBackground {
  width: 100%;
  height: 100%;
  background-color: var(--figure-color);
  display: flex;
  align-items: center;
}

#figureBackground > div {
  margin-left: 5%;
  width: 45%;
}

#figureBackground h1 {
  font-size: 2rem;
  font-family: "RobotoSlab";
  font-weight: 900;
  color: white;
}

#figureBackground span {
  margin: 0 0.3rem;
}

#figureBackground p {
  font-size: 1rem;
  font-family: "RobotoSlab";
  font-weight: 300;
  color: white;
}

figure > img {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  object-fit: cover;
  clip-path: polygon(16% 0%, 100% 0, 100% 100%, 22% 100%);
}

#mainText {
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#mainText > p {
  width: 90%;
  text-align: center;
  font-family: "Roboto-regular";
  font-size: 1.2rem;
  color: var(--main-color);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.buttonsContainer > p {
  color: var(--text-color);
}

.dropbtn {
  width: 5em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 1em;
  width: 10em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownContent button {
  width: 100%;
  border: none;
}

.dropdownContent button:hover {
  background-color: var(--hover-color);
}

#mainCards {
  width: 90%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

#mainCards > p {
  color: var(--text-color);
}

.card {
  border: 1px solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0 1em;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 1em;
}

.card h3 {
  margin-top: 2em;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalBox {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-radius: 0.5rem;
  padding: 1em;
  width: 35rem;
  background-color: var(--background-color);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--text-color);
}

#closeButton {
  border: none;
  width: 1em;
  height: 1em;
  color: #aaaaaa;
  float: right;
  font-size: 1.2em;
  font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
  background-color: var(--background-color);
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 500px) {
  #searchAndLang {
    width: 310px;
  }
  #searchInput {
    width: 95%;
  }
  #mainCards {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media (min-width: 650px) {
  #figureBackground > div > h1 {
    font-size: 3rem;
  }
  #figureBackground > div > p {
    font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  #figureBackground > div > h1 {
    font-size: 4rem;
  }
  #figureBackground > div > p {
    font-size: 1.5rem;
  }
  #menuButton {
    display: none;
  }
  .link {
    display: block;
  }
  .link > a {
    text-decoration: none;
    font-family: "Roboto-medium";
  }
}

@media (min-width: 1000px) {
  #mainText > p {
    width: 870px;
  }
}
